<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Servlets.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Producto_S</servlet-name>
        <servlet-class>Servlets.Producto_S</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Marcas_S</servlet-name>
        <servlet-class>Servlets.Marcas_S</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacturaCompra_S</servlet-name>
        <servlet-class>Servlets.Compras.FacturaCompra_S</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login_S</servlet-name>
        <servlet-class>Servlets.Login_S</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usuarios_S</servlet-name>
        <servlet-class>Servlets.Usuarios_S</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CContra_S</servlet-name>
        <servlet-class>Servlets.CContra_S</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaestroDetalleV_S</servlet-name>
        <servlet-class>Servlets.Ventas.MaestroDetalleV_S</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProveedoresS</servlet-name>
        <servlet-class>Servlets.ProveedoresS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Clientes_S</servlet-name>
        <servlet-class>Servlets.Ventas.Clientes_S</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Proveedores_S</servlet-name>
        <servlet-class>Servlets.Compras.Proveedores_S</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Puestos_S</servlet-name>
        <servlet-class>Servlets.Puestos_S</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Producto_S</servlet-name>
        <url-pattern>/Producto_S</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Marcas_S</servlet-name>
        <url-pattern>/Marcas_S</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacturaCompra_S</servlet-name>
        <url-pattern>/FacturaCompra_S</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login_S</servlet-name>
        <url-pattern>/Login_S</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usuarios_S</servlet-name>
        <url-pattern>/Usuarios_S</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CContra_S</servlet-name>
        <url-pattern>/CContra_S</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaestroDetalleV_S</servlet-name>
        <url-pattern>/MaestroDetalleV_S</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProveedoresS</servlet-name>
        <url-pattern>/ProveedoresS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Clientes_S</servlet-name>
        <url-pattern>/Clientes_S</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Proveedores_S</servlet-name>
        <url-pattern>/Proveedores_S</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Puestos_S</servlet-name>
        <url-pattern>/Puestos_S</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
